@import './scss/breakpoints.scss';
@import './scss/colors.scss';
@import './scss/fonts.scss';
@import './scss/helpers.scss';
@import './scss/hero.scss';
@import './scss/nav.scss';
@import './scss/about.scss';
@import './scss/skills.scss';
@import './scss/projects.scss';
@import './scss/contact.scss';
@import './components/common/Button/Button.scss';
@import './components/Footer/Footer.scss';

:root {
  font-family: $mainFont;
  font-size: $defaultSize;
}

body {
  background-color: $bodyBg;
  color: $mainFontColor;
  padding: 1rem;
  margin: 2rem 0 1rem 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  border-bottom: 1px solid $borderColor;
  padding: 0 1rem 1rem 1rem;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1280px;
  width: 90%;
}

.section {
  border: 1px solid $borderColor;
  box-shadow: 0 0 10px $borderColor;
  margin-bottom: 1.3rem;
}

.padded {
  padding: 0 1rem;
}