$darkTeal: rgb(9, 23, 23);
$lightTeal: rgb(39, 96, 112);
$medTeal: rgb(64, 100, 104);
$offWhite: rgb(204,208,213);
$pureWhite: rgb(255,255,255);
$red: rgb(162, 91, 96);

$adobeOrange: rgb(239, 125, 56);
$cssBlue: rgb(87,168,216);
$d3Orange: rgb(231,138,88);
$htmlOrange: rgb(211, 87, 53);
$jsYellow: rgb(237, 218, 104);
$jqueryBlue: rgb(43,105,108);
$linkedInBlue: rgb(0, 119, 181);
$phpBlue: rgb(138,147,187);
$pink: rgb(184,91,138);
$postOrange: rgb(204,69,61);
$reactBlue: rgb(129,216,227);
$sqlOrange: rgb(234,150,62);
$vueGreen: rgb(100,181,135);
$wpBlue: rgb(19, 53, 165);

$bodyBg: rgb(12,6,17);
$borderColor: $medTeal;
$hoverColor: $lightTeal;
$mainFontColor: $offWhite;
$navBg: $darkTeal;

/* BG Colors */
.adobeOrange {
    background-color: $adobeOrange;
}

.cssBlue {
    background-color: $cssBlue;
}

.reactBlue {
    background-color: $reactBlue;
}

.htmlOrange {
    background-color: $htmlOrange;
}

.jsYellow {
    background-color: $jsYellow;
}

.red {
    background-color: $red;
}

.pink {
    background-color: $pink;
}

.jqueryBlue {
    background-color: $jqueryBlue;
}

.wpBlue {
    background-color: $wpBlue;
}

.postOrange {
    background-color: $postOrange;
}

.phpBlue {
    background-color: $phpBlue;
}

.sqlOrange {
    background-color: $sqlOrange;
}

.d3Orange {
    background-color: $d3Orange;
}

.vueGreen {
    background-color: $vueGreen;
}