@import url('https://fontlibrary.org/face/dzhitl');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

$mainFont: DizhitlRegular;
$scriptFont: Pacifico,cursive;

.cursive {
    font-family: $scriptFont;
}